# .NET
bin/
obj/
*.user
*.suo
Logs/
*.log

# Angular / Node
**/ClientApp/node_modules/
**/ClientApp/dist/
**/ClientApp/.angular/
npm-debug.log*

# IDE
.vs/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment / secrets
**/appsettings.Local.json
**/appsettings.*.local.json
.env
